@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Regular.eot");
  src: url("../fonts/GeneralSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/../fonts/GeneralSans-Regular.woff2") format("woff2"),
    url("../fonts/GeneralSans-Regular.woff") format("woff"),
    url("../fonts/GeneralSans-Regular.ttf") format("truetype"),
    url("../fonts/GeneralSans-Regular.svg#GeneralSans-Regular") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-MediumItalic.eot");
  src: url("../fonts/GeneralSans-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GeneralSans-MediumItalic.woff2") format("woff2"),
    url("../fonts/GeneralSans-MediumItalic.woff") format("woff"),
    url("../fonts/GeneralSans-MediumItalic.ttf") format("truetype"),
    url("../fonts/GeneralSans-MediumItalic.svg#GeneralSans-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-LightItalic.eot");
  src: url("../fonts/GeneralSans-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GeneralSans-LightItalic.woff2") format("woff2"),
    url("../fonts/GeneralSans-LightItalic.woff") format("woff"),
    url("../fonts/GeneralSans-LightItalic.ttf") format("truetype"),
    url("../fonts/GeneralSans-LightItalic.svg#GeneralSans-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Medium.eot");
  src: url("../fonts/GeneralSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GeneralSans-Medium.woff2") format("woff2"),
    url("../fonts/GeneralSans-Medium.woff") format("woff"),
    url("../fonts/GeneralSans-Medium.ttf") format("truetype"),
    url("../fonts/GeneralSans-Medium.svg#GeneralSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Extralight.eot");
  src: url("../fonts/GeneralSans-Extralight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GeneralSans-Extralight.woff2") format("woff2"),
    url("../fonts/GeneralSans-Extralight.woff") format("woff"),
    url("../fonts/GeneralSans-Extralight.ttf") format("truetype"),
    url("../fonts/GeneralSans-Extralight.svg#GeneralSans-Extralight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Semibold.eot");
  src: url("../fonts/GeneralSans-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GeneralSans-Semibold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Semibold.woff") format("woff"),
    url("../fonts/GeneralSans-Semibold.ttf") format("truetype"),
    url("../fonts/GeneralSans-Semibold.svg#GeneralSans-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Light.eot");
  src: url("../fonts/GeneralSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GeneralSans-Light.woff2") format("woff2"),
    url("../fonts/GeneralSans-Light.woff") format("woff"),
    url("../fonts/GeneralSans-Light.ttf") format("truetype"),
    url("../fonts/GeneralSans-Light.svg#GeneralSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Bold.eot");
  src: url("../fonts/GeneralSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GeneralSans-Bold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Bold.woff") format("woff"),
    url("../fonts/GeneralSans-Bold.ttf") format("truetype"),
    url("../fonts/GeneralSans-Bold.svg#GeneralSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-BoldItalic.eot");
  src: url("../fonts/GeneralSans-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GeneralSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/GeneralSans-BoldItalic.woff") format("woff"),
    url("../fonts/GeneralSans-BoldItalic.ttf") format("truetype"),
    url("../fonts/GeneralSans-BoldItalic.svg#GeneralSans-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-ExtralightItalic.eot");
  src: url("../fonts/GeneralSans-ExtralightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GeneralSans-ExtralightItalic.woff2") format("woff2"),
    url("../fonts/GeneralSans-ExtralightItalic.woff") format("woff"),
    url("../fonts/GeneralSans-ExtralightItalic.ttf") format("truetype"),
    url("../fonts/GeneralSans-ExtralightItalic.svg#GeneralSans-ExtralightItalic")
      format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-SemiboldItalic.eot");
  src: url("../fonts/GeneralSans-SemiboldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/GeneralSans-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/GeneralSans-SemiboldItalic.woff") format("woff"),
    url("../fonts/GeneralSans-SemiboldItalic.ttf") format("truetype"),
    url("../fonts/GeneralSans-SemiboldItalic.svg#GeneralSans-SemiboldItalic")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Italic.eot");
  src: url("../fonts/GeneralSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GeneralSans-Italic.woff2") format("woff2"),
    url("../fonts/GeneralSans-Italic.woff") format("woff"),
    url("../fonts/GeneralSans-Italic.ttf") format("truetype"),
    url("../fonts/GeneralSans-Italic.svg#GeneralSans-Italic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
